nav {
  background-color: rgb(1, 1, 51);
}
.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
}
#navbarNav {
  justify-content: flex-end;
}
h1 {
  font-size: 18px !important;
  text-align: left !important;
  color: black !important;
}
.img-fluid {
  height: 200px !important;
}
.big-img {
  height: 300px !important;
}
p {
  text-align: left !important;
}
